<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>
    <test name="Regression suite 1" >
        <packages>
            <package name="com.epam.events.tests"/>
        </packages>
    </test>
</suite>